body {
  background-color: hsl(276, 86%, 23%);
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
}

.scorePage {
  text-align: center;
  background-color: #25d715;
  border: 2px solid black;
  margin-top: 200px;
  margin-left: 360px;
  padding: 40px;
  width: 600px;
  border-radius: 15px;
}

.quiz {
  margin: auto;
  margin-top: 50px;
  padding: 20px;
  background-color: #6bd50e;
  width: 65%;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  flex-direction: column;
}

.quiz h1 {
  color: #531df5;
  font-size: 28px;
}

.questions {
  color: #521e15;
  text-align: left;
  font-size: 18px;
}

.quiz ul li {
  display: flex;
  align-items: center;
  border: 1px solid #694F8E;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  background-color: #f5f5f0;
  width: 700px;
}

.quiz ul li.selected {
  background-color: #64198d;
  color: rgb(255, 255, 255);
}

.quiz button {
  padding: 10px;
  width: 200px;
  border-radius: 15px;
  font-size: 16px;
  background-color: #FF5200;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  outline: 1px solid black;
  transition: all 0.3s ease;

}

.quiz button:hover {
  background-color: rgb(48, 77, 223);
  border: 2px solid blue;
  font-size: 16px;
  color: white;
  cursor: pointer;
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

a {
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  color: rgb(197, 7, 112);
}